{{ 'lotion-lp.css' | asset_url | stylesheet_tag }}

<a href="{{ pages['page-lotion-lp'].url }}" class="btn-primary">
  Ver coleção de loções
</a>

{% schema %}
{
  "name": "Home",
  "settings": []
}
{% endschema %}