* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
}

.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product img {
    width: 300px;
}