@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    padding: 30px;
    background-color: #F9F7F2;
    color: #4A4A4A;
}


#collection-title {
    text-align: center;
    margin-bottom: 10rem;
}

.featured-product {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 8rem;
    padding: 3rem 16rem 3rem 13rem;
}

.featured-product img {
    width: 200px;
}

.featured-info h2 {
    color: #8C847C;
    font-size: 16pt;
    margin-bottom: 0.4rem;
}

.featured-info h3 {
    font-size: 24pt;
    letter-spacing: 2px;
}

.featured-info p {
    margin-top: 1.5rem;
}


.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 5rem auto;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f3ea; 
    border-radius: 20px;
    padding: 30px 45px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    height: 100%;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.product img {
    width: 150px; 
    height: 200px;
    margin-bottom: 10px;
    object-fit: contain;
}

.product h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
}

.product p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
    flex-grow: 1;
    text-align: left;
}